/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$navBarHeight: 64px;
.app-page-content {
  height: calc(100vh - #{$navBarHeight});
}

app-root,
.cdk-overlay-container {
  & *:focus {
    outline: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
